#light-theme {
    background-color: #E2E2E2;
    color: #363537;
    height: 100vh;
    width: 100vw;
}

#dark-theme {
    background-color: #363537;
    color: #FAFAFA;
    height: 100vh;
    width: 100vw;
}

.switch {
  position: relative;
  display: flex;
  float: right;
  width: 3.5rem;
  height: 2rem;
  margin: 1rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 2rem;
  width: 2rem;
  left: 0;
  bottom: 2rem;
  top: 0;
  bottom: 0;
  margin: auto 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: 0 0rem 7.5rem #2020203d;
  background: #363537;
  background-repeat: no-repeat;
  background-position: center;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1rem #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(1.8rem);
  -ms-transform: translateX(1.8rem);
  transform: translateX(1.8rem);
  background: #E2E2E2;
  background-repeat: no-repeat;
  background-position: center;
}

.slider.round {
  border-radius: 7rem;
}

.slider.round:before {
  border-radius: 50%;
}